.dbListHeader{
    display: flex;
    justify-content: space-between;
}

.dbListHeaderText{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;

    color: #212529;
}

.listButtons{
    display: flex;
    gap: 16px;
}

.listButtons button{
    padding: 10px 15px;
    height: 40px;

    background: #E9ECEF;
    color: #343A40;

    border: 1.4px solid #E9ECEF;
    border-radius: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    text-align: center;
}