
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style: none;
}
button{
    cursor: pointer;
}

.homePageMain{
    background-color: #212529;
    width: 100vw;
    height: 100vh;
}

.hpContainer{
    margin: 0 auto;
    width: 61.75rem;
    height: 37.063rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME PAGE DESCRIPTION SECTION */
.hpDescSec{
    max-width: 21.688rem;
}

.hpDesc{
    color: #FFFFFF;
}

.descText{
    font-size: 38px;
    font-weight: 800;
    line-height: 48px;
}

.descSecundaryText{
    margin-bottom: 28px;
}

#initButton{
    background-color: #FD377E;
    color: #FFFFFF;

    width: 15.063rem;
    height: 3rem;

    border: 1px solid #FD377E;
    border-radius: 8px;

    text-align: center;
}