
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style: none;
}
button{
    cursor: pointer;
}
label{
    display: block;
}


/* CONTAINER STYLES */
.dbMainContainer{
    width: 61.438rem;
    margin: 38px auto;

    display: flex;
    justify-content: space-around;
}

.hide{
    display: none;
}

/* FORM STYLES */

.dbFormSec{
    width: 22.688rem;
}

.dbFormDiv{
    border: 1px solid #E9ECEF;
    padding: 38px 24px;

    margin-bottom: 16px;
}


/* TOTAL BALANCE STYLES */

.totalBalanceDiv{
    border: 1px solid #E9ECEF;
    border-radius: 4px;

    height: 96px;
    padding: 24px 18px;
}



/* LIST STYLES */

.dbListSec{
    width: 560px;
}
